.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

#menu{
    height: 100px;
    width: 10px;
}

.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem; 
}

.logo_img{
    background: var(--bg-gradient);
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img img{
    width: 100%;
}

.logo h2{
    position: relative;
    color: var(--heading-color);
    font-weight: 700 !important;
    font-size: 1.8rem;
    bottom: 12px;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav_item a{
    color: var(--heading-color);
    font-weight: 600 !important;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1rem;
}

.nav_item a:hover{
    color: var(--primary-color);
}

.nav_right{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.register_btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background: var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-name);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#menu{
    color: var(--heading-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.sticky_header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff ;
}
